.App {
  text-align: center;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 20px;
  background-color: olive
}
.backpack {
  border: solid blue;
  height: 45vh;
  width: 80vw;
  background-color: white;
}
.shelf {
  border: solid black;
  height: 20vh;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.inputs {
  border: solid red;
  height: 15vh;
  background-color: white;
  /* display: flex;
  justify-content: space-between; */
}
