.App {
  text-align: center;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(47, 101, 133)
}
.backpack {
  box-shadow: 10px 10px 5px black;
  height: 45vh;
  width: 80vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.packpic {
  height: 300px;
}
.calculations {
  height: 30vh;
  width: 10vw;
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.visual {
  height: 40vh;
  width: 50vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
.pack {
  display: flex;
}
.item1 {
  height: 20px;
  width: 200px;
  position: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
}
.remove {
  height: 20px;
}
.searchbar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search {
  height: 20px;
  width: 150px;
  border-radius: 15px;
}
.shelf {
  box-shadow: 10px 10px 5px black;
  height: 30vh;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 5px;
}
.inputs {
  box-shadow: 10px 10px 5px black;
  width: 80vw;
  height: 10vh;
  background-color: lightgray;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.first2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  width: 15vw;
}
.second2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  width: 15vw;
}
.third2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 10px;
  width: 15vw;
}
.addItem {
  display: flex;
  padding: 15px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.shelf {
  width: 80vw;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
  overflow: scroll;
}
.itemBox {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  width: 39vw;
  background-color: lightgray;
  margin: 5px;
}
.itemInfo {
  display: flex;
  align-items: center;
}
.itemPic {
  height: 50px;
}
.itemS {
  font-size: .8em;
  margin: 0;
}
p {
  margin: 0;
}
.itemButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
